.commentList-container {
  margin-top: 40px;
  border-top: 1px solid hsla(220, 9%, 46%, 0.3);
}
.commentList-box {
}
.commentList-subBox {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid hsla(220, 9%, 46%, 0.3);
  padding: 24px 0px;
}
.commentList-inputBox {
  display: flex;
  flex-direction: column;
}
.commentList-info {
}
.commentList-writer {
  font-size: 15px;
}
.commentList-date {
  font-size: 13px;
}
.commentList-content {
  display: flex;
  padding: 5px 0px 10px 0px;
  font-size: 14px;
}
.commentList-buttonBox {
  display: flex;
}
.commentList-commentButton {
  font-size: 13px;
  padding-right: 5px;
}
.commentList-deleteButton {
  font-size: 13px;
}
.commentList-inputBox {
  display: flex;
}
.commentList-input {
  width: 100%;
  height: 60px;
  border: 1px solid hsla(220, 9%, 46%, 0.3);
}
.commentList-addCommentBox {
  display: flex;
  justify-content: end;
  padding-top: 10px;
}
.commentList-addComment {
  font-size: 14px;
  width: 100px;
  height: 40px;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.801);
  color: white;
}
.replies {
  border-left: 1px solid hsla(220, 9%, 46%, 0.3);
}
