.board-container {
  margin: 0 auto;
  max-width: 820px;
  padding: 0px 10px;
}
.board-box {
  padding: 10px 0px;
  border-bottom: 1px solid hsla(220, 9%, 46%, 0.3);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 그림자 스타일을 설정하세요. */
  border-radius: 26px;
}
.board-title h5 {
  font-weight: bold;
}
.board-title {
  padding-left: 30px;
}
.board-backSvg {
  display: flex;
  padding-bottom: 30px;
}
.board-writeButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding: 20px 0px; */
  margin-top: 40px;
}
.board-tagbox {
  display: flex;
  padding-right: 156px;
}
.board-lifestory {
  padding-right: 20px;
  cursor: pointer;
}
.board-communication {
  padding-right: 20px;
  cursor: pointer;
}
.board-find {
  padding-right: 20px;
  cursor: pointer;
}
.board-allfind {
  cursor: pointer;
}
.board-lifestory:hover {
  color: rgb(0, 144, 249);
}
.board-communication:hover {
  color: rgb(0, 144, 249);
}
.board-find:hover {
  color: rgb(0, 144, 249);
}
.board-allfind:hover {
  color: rgb(0, 144, 249);
}
.board-writeButton button {
  width: 96px;
  height: 36px;
  font-size: 15px;
  /* background-color: rgba(18, 68, 17, 0.839); */
  background-color: black;
  color: white;
  border-radius: 12px;
}
.board-serchInput-containerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
.board-serchInput-box {
  border: 1px solid hsla(220, 9%, 46%, 0.3);
  border-radius: 20px;
  width: 255px;
}
.board-serchInput {
  height: 36px;
  margin-right: 0px;
  margin-left: 20px;
  padding-left: 15px;
  width: 200px;
  border: none;
}

.board-serchInput:focus {
  /* outline: 2px solid rgb(0, 144, 249); */
  outline: none;
}

.board-serchBtn-box {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.262);
}
.board-searchButton {
  width: 25px;
  height: 25px;
}
.board-searchButton:hover {
  color: rgb(0, 144, 249);
}
.board-infoContainer {
  border-bottom: 1px solid hsla(220, 9%, 46%, 0.3);
  border-top: 1px solid hsla(220, 9%, 46%, 0.3);
  padding: 17px 0px;
}
.board-infoBox {
  display: flex;
  align-items: center;
}
.board-postWriter {
  display: flex;
  font-size: 15px;
  padding-right: 10px;
}
.board-formattedData {
  display: flex;
  font-size: 14px;
}
.board-postTitle {
  margin: 8px 0px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.board-postTitle:hover {
  color: rgb(0, 144, 249);
}
.board-postView-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.board-tag-box {
  min-width: 60px;
  text-align: center;
  background-color: rgb(240, 246, 250);
  border-radius: 5px;
}
.board-tag {
  color: rgb(0, 144, 249);
  font-size: 13px;
  max-width: 730px;
}
.board-postView-box {
  display: flex;
}
.board-postViews {
  font-size: 16px;
  padding-right: 10px;
}
.board-commentview {
  font-size: 16px;
}
/* /////////////////////////// */

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  padding: 8px 16px;
  margin: auto;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #383838;
}

.pagination span {
  padding: 8px 16px;
  margin: 0 4px;
  font-weight: bold;
}
@media (max-width: 960px) {
  .board-backSvg {
    display: none;
  }
  .board-tagbox {
    display: none;
  }
  .board-serchInput {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    align-items: center;
  }
  .board-searchButton {
    display: flex;
    top: none;
    right: none;
    transform: none;
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
  }
}
