h4 {
  margin: 0;
}
.post-detail-box {
  margin: 0 auto;
  max-width: 820px;
  padding: 0px 10px;
}
.boarDetail-findBox {
  padding: 10px 0px;
  border-bottom: 1px solid hsla(220, 9%, 46%, 0.3);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 그림자 스타일을 설정하세요. */
  border-radius: 26px;
  background-image: url(./christmas.png);
}
.boarDetail-boardtitle {
  font-weight: bold;
  padding-left: 30px;
}
.boarDetail-infoBox {
  padding: 60px 0px 15px 0px;
}
.boardDetail-writer {
  border-top: 1px solid hsla(220, 9%, 46%, 0.3);
  font-size: 15px;
  padding-top: 20px;
}
/* 보더 라인 색깔 hsla(220, 9%, 46%, 0.3)  */
.boardDetail-date-view-box {
  display: flex;
}
.boardDetail-date {
  font-size: 13px;
  padding-right: 5px;
  border-right: 1px solid hsla(220, 9%, 46%, 0.3);
}
.boardDetail-view {
  font-size: 13px;
  padding-left: 5px;
}

.boardDetail-title {
  font-size: 18px;
  font-weight: bolder;
}
.boarDetail-content {
  padding: 10px 0px;
  min-height: 300px;
  font-size: 15px;
}
/* ///////////////////////// */
.boardDetail-handleBox {
  display: flex;
  justify-content: end;
}
.boardDetail-edit {
  display: flex;
  width: 40px;
  justify-content: end;
  cursor: pointer;
}
.boardDetail-edit span:hover,
.boardDetail-delete span:hover {
  color: rgb(0, 144, 249);
}
.boardDetail-delete {
  display: flex;
  width: 40px;
  justify-content: end;
  cursor: pointer;
}
.boardDetail-handleBox span {
  font-size: 14px;
}
/* //////////////////////////////// */
