.book_container-box {
  margin: 0 auto;
  padding-top: 8px;
  max-width: 677px;
}
.book_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}
.fashion-writeBox {
}
.fashion-userInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding-left: 10px; */
  margin-top: 25px;
  padding-bottom: 23px;
  width: 100%;
  border-bottom: 1px solid hsla(220, 9%, 46%, 0.3);
}
#fashion-username {
  font-size: 15px;
  margin-bottom: 0px;
  font-weight: bold;
}
#fashion-userAddress {
  font-size: 13px;
  margin-bottom: 0px;
}
.title_deco {
  display: flex;
  width: 100%;
  word-wrap: break-word;
  flex-direction: column;
  text-align: start;
}
#fashion-title {
  font-size: 18px;
  margin-bottom: 4px;
  font-weight: bold;
  padding-top: 20px;
}
#fashion-price {
  font-size: 16px;
  margin-bottom: 4px;
  font-weight: bold;
}
#fashion-content {
  font-size: 15px;
  min-height: 100px;
  padding-top: 10px;
  /* border-bottom: 1px solid hsla(220, 9%, 46%, 0.3); */
}
#comment_submitButton {
  width: 100px;
  height: 40px;
}
.comment_submitButton-box {
  display: flex;
  justify-content: end;
  padding: 20px 0px;

  width: 100%;
}
.book-img-box {
  height: 500px;
  width: 677px;
}
.book-img-box img {
  height: 500px;
  width: 677px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 그림자 스타일을 설정하세요. */
}

/* .book_container img {
  width: 100%;
  height: 500px;
  height: auto;
  max-height: 400px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 8px;
} */

.book_container h2 {
  font-family: "Arial", sans-serif;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}

.button_container {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.button_buy,
.button_auction,
.button_wishlist {
  color: black;
  border: none;
  padding: 0px;
  text-align: end;
  text-decoration: none;
  font-size: 14px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease-in-out;
}

.button_buy:hover,
.button_auction:hover,
.button_wishlist:hover {
  color: rgb(0, 144, 249); /* 호버 시 색상 변경 */
}
.button_auction {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
  cursor: pointer;
  border-radius: 4px;
}
.wishlist {
  display: flex;
  justify-content: center;
}

.comment_wrap {
  margin: auto;
  margin-top: 40px;
  text-align: center;
}
.comment_wrap p {
  display: inline;
  margin-right: 10px;
}
.totalComment {
  display: flex;
  text-align: start;
}
.totalComment p {
  font-size: 14px;
}
.comment_input {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid hsla(220, 9%, 46%, 0.3);
  autocomplete: off;
}
.button_wrap {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 50px;
}
.comment_wrap button {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.comment_wrap button:hover {
  background-color: #141414;
}

.user_comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
}

.user_comment button {
  background-color: gray;
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.user_comment button:hover {
  background-color: #888;
}
